*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

div{
    height: 200px;
    width: 200px;
    border: 2px solid;
}
#red{
    background-color: red;
    /* float default value is none */
    /* float: left;
    float: right; */
}
#yellow{
    background-color: yellow;
    float: left;
    float: right;
}
#green{
    background-color: green;
    float: left;
    float: right;
}